<div class="container mt-4">
  <h2>Your Pension Records</h2>

  <div class="form-group">
    <label>Enter Your Employee ID:</label>
    <input type="number" [(ngModel)]="employeeId" class="form-control w-25">
    <button class="btn btn-primary mt-2" (click)="getPensions()">View Pension</button>
  </div>

  <table class="table table-bordered mt-4" *ngIf="pensions.length > 0">
    <thead>
      <tr>
        <th>ID</th>
        <th>Amount</th>
        <th>Date</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let p of pensions">
        <td>{{ p.id }}</td>
        <td>{{ p.pensionAmount }}</td>
        <td>{{ p.paymentDate }}</td>
        <td>{{ p.status }}</td>
      </tr>
    </tbody>
  </table>
</div>
